<p class="title-text">Welcome to Sector Web App</p>

<div class="landing-container">

  <form>
    <mat-form-field>
      <mat-label>Enter your username</mat-label>
      <input matInput [formControl]="userName" (keyup)="validateUserExists()" required placeholder="Username" >
      <mat-error *ngIf="userName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button
            class="continue-button"
            (click)="onSubmit()"
    [disabled]="userName.invalid">
      Continue
    </button>
  </form>
</div>
